{% extends 'base2.html.twig' %}

{% block title %}All Books{% endblock %}

{% block body %}
<!-- 

    For each book, display title, category, if is borrowed and a button to go to the book page


-->

<section class="articles">
    <h5> Les livres </h5>
    <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Titre</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Emprunté</th>
            <th scope="col"></th>
    
          </tr>
        </thead>
        <tbody>
    {% for book in books %}
          <tr> 
            <td> {{ book.title}} </td>
            <td> {{ book.categorie}}</td>
            
            <!-- If book is borrowed, then we display yes, or else no -->
            {% if book.borrowed %}
            <td> Oui </td>
            {% else %}
            <td>Non </td>
            {% endif %} 

           
            <td><a class="btn btn-primary" href="#" role="button">Voir plus </a> </td>
          </tr>
         
    {% endfor %}
        </tbody>
    </table>

</section>





  

{% endblock %}
