{% extends 'base.html.twig' %}

{% block title %}Book Library{% endblock %}

{% block body %}

<div class="container">

<h3> Bienvenue sur <span> Library Management ! </span></h3>

<a class="btn btn-primary info" href="{{ path('app_login')}}" role="button">Connexion</a>
<a class="btn btn-primary info" href="{{ path('app_registration')}}" role="button">Inscription</a>



</div>
{% endblock %}
