{% extends 'base.html.twig' %}

{% block title %}Book Library{% endblock %}

{% block body %}

<div class="container">

<h3> Bienvenue sur <span> Library Management ! </span></h3>

<a class="" href=" {{ path('app_login')}}"> <button type="button" class="btn btn-primary disabled"> </button>Connexion</a>
<a class="" href=" {{ path('app_registration')}}"> <button type="button" class="btn btn-primary info"> </button>Inscription</a>

</div>
{% endblock %}
