{% extends 'base.html.twig' %}

{% block title %}Book Library{% endblock %}

{% block body %}
<div class="container">

<h3> Bienvenue sur <span> Library Management ! </span></h3>
<button type="button" class="btn btn-primary disabled">Se connecter</button>
<button type="button" class="btn btn-primary info">S'inscire</button>



</div>
{% endblock %}
